---
---

<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{site.title | smartify}}</title>
    <link rel=stylesheet href=https://readable.kemitchell.com/all.css>
  </head>
  <body>
    <header>
      <h1>{{site.title | smartify}}</h1>
    </header>
    <main>
      <ul>
      {% for page in site.pages %}
      {% if page.title %}
      <li>{% include page_link.html %}</li>
      {% endif %}
      {% endfor %}
      </ul>
    </main>
    {% include footer.html %}
  </body>
</html>
