<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{page.title | smartify}}</title>
    <link rel=stylesheet href=https://readable.kemitchell.com/all.css>
  </head>
  <body>
    <header>
      <h1>{{page.title | smartify}}</h1>
      {% if page.subtitle %}<p class=subtitle>{{page.subtitle | smartify}}</p>{% endif %}
      {% if page.edition %}<p class=edition>Edition {{page.edition | smartify}}</p>{% endif %}
    </header>
    <main>
      <dl>
        {% if page.people %}
        <dt>People</dt>
        <dd>
          <ul>
            {% for person in page.people %}
            <li><a href="people/{{person | slugify}}">{{person | smartify}}</a></li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.year %}<dt>Year</dt><dd>{{page.year}}</dd>{% endif %}
        {% if page.types %}
        <dt>Types</dt>
        <dd>
          <ul>
            {% for type in page.types %}
            <li><a href="types/{{type | slugify}}">{{type | smartify}}</a></li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.format %}<dt>Format</dt><dd>{{page.format}}</dd>{% endif %}
        {% if page.event %}<dt>Event</dt><dd>{{page.event}}</dd>{% endif %}
        {% if page.urls %}
        <dt>URLs</dt>
        <dd>
          <ul>
            {% for url in page.urls %}
            <li><a href="{{url}}">{{url}}</a></li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.tags %}
        <dt>Tags</dt>
        <dd>
          <ul>
            {% for tag in page.tags %}
            <li>{% include tag.html %}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
      </dl>
      {{content}}
    </main>
    {% include footer.html %}
  </body>
</html>
